In [1]:
from matplotlib import font_manager, rc
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [3]:
blackout_1  = pd.read_csv('정전/정전1.csv', encoding='cp949')
blackout_2  = pd.read_csv('정전/정전2.csv', encoding='cp949')
blackout_3  = pd.read_csv('정전/정전3.csv', encoding='cp949')
blackout_4  = pd.read_csv('정전/정전4.csv', encoding='cp949')

In [5]:
blackout_3.head(2)

   Unnamed: 0  0                                    1    2
0           0     2020.09.02 20:24 / 2020.09.02 20:35   77
1           1     2020.09.02 20:17 / 2020.09.02 20:33  558

In [8]:
blakcout_df = pd.concat([blackout_1,blackout_2,blackout_3,blackout_4])

In [9]:
blakcout_df.to_csv('blakcout.csv', encoding='cp949')